* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin-top: 10px;
  width: 100%;
  min-height: 100vh;
}
.mosaic_container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(17, 50px);
  grid-template-rows: repeat(10, 100px);
  justify-content: center;
}
[class^="box-"] {
  border: 5px solid rgb(65, 65, 65);
}
.box-1 {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
}
.box-2 {
  grid-column: 5 / 12;
  grid-row: 1 / 2;
}
.box-3 {
  grid-column: 12 / 15;
  grid-row: 1 / 2;
}
.box-4 {
  grid-column: 15 / 18;
  grid-row: 1 / 2;
}
.box-5 {
  grid-column: 1 / 4;
  grid-row: 2 / 4;
}
.box-6 {
  grid-column: 4 / 12;
  grid-row: 2 /6;
}
.box-7 {
  grid-column: 12 / 18;
  grid-row: 2 / 4;
}
.box-8 {
  grid-column: 1 / 4;
  grid-row: 4/ 7;
}
.box-9 {
  grid-column: 12 / 15;
  grid-row: 4 / 6;
}
.box-10 {
  grid-column: 15 / 18;
  grid-row: 4 / 6;
}
.box-11 {
  grid-column: 4 / 8;
  grid-row: 6 / 8;
}
.box-12 {
  grid-column: 8 / 12;
  grid-row: 6 / 7;
}
.box-13 {
  grid-column: 12 / 18;
  grid-row: 6 / 7;
}
.box-14 {
  grid-column: 1 / 4;
  grid-row: 7 / 10;
}
.box-15 {
  grid-column: 8 / 12;
  grid-row: 7 / 8;
}
.box-16 {
  grid-column: 12 /18;
  grid-row: 7 / 9;
}
.box-17 {
  grid-column: 4 / 8;
  grid-row: 8 / 10;
}
.box-18 {
  grid-column: 8 / 12;
  grid-row: 8 / 9;
}
.box-19 {
  grid-column: 8 / 12;
  grid-row: 9 / 10;
}
.box-20 {
  grid-column: 12 / 18;
  grid-row: 9 / 11;
}
.box-21 {
  grid-column: 1 / 4;
  grid-row: 10 / 11;
}
.box-22 {
  grid-column: 4 / 8;
  grid-row: 10 / 11;
}
.box-23 {
  grid-column: 8 / 10;
  grid-row: 10 / 11;
}
.box-24 {
  grid-column: 10 / 12;
  grid-row: 10 / 11;
}
.white {
  background-color: white;
}
.black {
  background-color: black;
  color: white;
}
.blue {
  background-color: rgb(0, 136, 255);
  color: white;
}
.yellow {
  background-color: yellow;
}
.red {
  background-color: red;
}
